[submodule "libs/SemiNAS"]
	path = libs/SemiNAS
	url = https://github.com/Multi-Objective-NAS/SemiNAS.git
	branch = remove_restriction
[submodule "libs/NAS-Bench-201"]
	path = libs/NAS-Bench-201
	url = https://github.com/Multi-Objective-NAS/NAS-Bench-201.git
	branch = self-supervised-nas
