[submodule "libs/SemiNAS"]
	path = libs/SemiNAS
	url = https://github.com/Multi-Objective-NAS/SemiNAS
[submodule "libs/nasbench"]
	path = libs/nasbench
	url = https://github.com/google-research/nasbench
