[submodule "libs/SemiNAS"]
	path = libs/SemiNAS
	url = https://github.com/renqianluo/SemiNAS
[submodule "libs/pytorch-metric-learning"]
	path = libs/pytorch-metric-learning
	url = https://github.com/KevinMusgrave/pytorch-metric-learning
[submodule "libs/nasbench"]
	path = libs/nasbench
	url = https://github.com/Multi-Objective-NAS/nasbench.git
[submodule "libs/NAS-Bench-201"]
	path = libs/NAS-Bench-201
	url = https://github.com/Multi-Objective-NAS/NAS-Bench-201.git
